<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .disabled {
        color: LightGray;
      }

      .red {
        background-color: red;
      }
    </style>

    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      <h3>{{ message }}</h3>
      <p>{{subMessage}}</p>
      <button v-on:click="goodbye">Click for a Message Back</button>
      <p>{{thirdMessage}}</p>
      <p>How Are You Doing: <input type="text" v-model="thirdMessage" /></p>

      <div>
        <p v-if="showHiddenInfo">Here's a message for you</p>
        <button v-on:click="toggle">Toggle info</button>
      </div>

      <p v-bind:class="{disabled: greyOutInfo, red: true}">Here is your text</p>
      <button v-on:click="greyOut">Grey out the text</button>

      <br />
      <br />
      <br />
      <hr />
      <hr />
      <br />

      <div v-for="movie in movies">
        <p>{{ movie }}</p>
      </div>

      <p>
        <input type="text" v-model="newMovies" />
        <button v-on:click="addMovie()">Add Movie</button>
      </p>
      <hr />

      <br />
      <hr />
      <hr />
      <br />
    </div>
  </body>
</html>
